In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules, fpgrowth

In [ ]:
data = pd.read_csv('basket_items.csv',sep=",")
data[:5]

   trans                          items
0      1              butter|bread|coke
1      2                   bread|butter
2      3               beer|diaper|milk
3      4  beer|bread|butter|diaper|milk
4      5         coke|diaper|milk|bread

In [ ]:
basket = data['items'].str.get_dummies(sep='|')
basket[:5]

   beer  bread  butter  coke  diaper  milk
0     0      1       1     1       0     0
1     0      1       1     0       0     0
2     1      0       0     0       1     1
3     1      1       1     0       1     1
4     0      1       0     1       1     1

In [ ]:
basket = basket.astype(pd.SparseDtype("bool"))
basket[:5]

    beer  bread  butter   coke  diaper   milk
0  False   True    True   True   False  False
1  False   True    True  False   False  False
2   True  False   False  False    True   True
3   True   True    True  False    True   True
4  False   True   False   True    True   True

In [ ]:
frequent_itemsets = fpgrowth(basket, min_support=0.01, use_colnames=True)
frequent_itemsets.sort_values(by='support', ascending=False)

    support                             itemsets
0       0.8                              (bread)
1       0.6                             (butter)
3       0.6                               (milk)
4       0.6                             (diaper)
6       0.6                      (bread, butter)
23      0.6                       (milk, diaper)
2       0.4                               (coke)
13      0.4                        (bread, coke)
5       0.4                               (beer)
30      0.4                 (milk, diaper, beer)
27      0.4                         (milk, beer)
22      0.4                        (bread, milk)
24      0.4                      (bread, diaper)
26      0.4                       (diaper, beer)
25      0.4                (bread, diaper, milk)
8       0.2                       (milk, butter)
7       0.2                     (diaper, butter)
16      0.2                         (milk, coke)
15      0.2                       (diaper, coke)
14      0.2                       (coke, butter)
17      0.2                (bread, coke, butter)
12      0.2        (bread, diaper, milk, butter)
9       0.2              (bread, diaper, butter)
11      0.2               (milk, diaper, butter)
10      0.2                (bread, milk, butter)
21      0.2          (bread, diaper, coke, milk)
18      0.2                (bread, diaper, coke)
19      0.2                 (milk, diaper, coke)
20      0.2                  (bread, coke, milk)
28      0.2                       (butter, beer)
29      0.2                        (bread, beer)
31      0.2               (diaper, butter, beer)
32      0.2                (bread, diaper, beer)
33      0.2                 (milk, butter, beer)
34      0.2                  (bread, milk, beer)
35      0.2                (bread, butter, beer)
36      0.2         (milk, diaper, butter, beer)
37      0.2          (bread, diaper, milk, beer)
38      0.2        (bread, diaper, butter, beer)
39      0.2          (bread, milk, butter, beer)
40      0.2  (diaper, bread, butter, milk, beer)

In [ ]:
metric = "lift"
rules = association_rules(frequent_itemsets, metric=metric, min_threshold=1)
rules.sort_values('support', ascending=False, inplace=True)  # This returns None
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(bread),(butter),0.8,0.6,0.6,0.750000,1.250000,1.0,0.12,1.600000,1.0,0.750000,0.375000,0.875000
1,(butter),(bread),0.6,0.8,0.6,1.000000,1.250000,1.0,0.12,inf,0.5,0.750000,1.000000,0.875000
48,(milk),(diaper),0.6,0.6,0.6,1.000000,1.666667,1.0,0.24,inf,1.0,1.000000,1.000000,1.000000
49,(diaper),(milk),0.6,0.6,0.6,1.000000,1.666667,1.0,0.24,inf,1.0,1.000000,1.000000,1.000000
52,(diaper),"(bread, milk)",0.6,0.4,0.4,0.666667,1.666667,1.0,0.16,1.800000,1.0,0.666667,0.444444,0.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,(diaper),"(bread, milk, butter, beer)",0.6,0.2,0.2,0.333333,1.666667,1.0,0.08,1.200000,1.0,0.333333,0.166667,0.666667
156,(bread),"(milk, diaper, butter, beer)",0.8,0.2,0.2,0.250000,1.250000,1.0,0.04,1.066667,1.0,0.250000,0.062500,0.625000
157,(butter),"(bread, diaper, milk, beer)",0.6,0.2,0.2,0.333333,1.666667,1.0,0.08,1.200000,1.0,0.333333,0.166667,0.666667
158,(milk),"(bread, diaper, butter, beer)",0.6,0.2,0.2,0.333333,1.666667,1.0,0.08,1.200000,1.0,0.333333,0.166667,0.666667
159,(beer),"(bread, diaper, milk, butter)",0.4,0.2,0.2,0.500000,2.500000,1.0,0.12,1.600000,1.0,0.500000,0.375000,0.750000